.main{
    color: white;
    background-image: url('../image/z7CSU.webp');
    height: 500px;
    text-align: start;
    padding-top: 50px;
    padding-left: 90px;

};
.btw{
   background-color: aqua;
}
button{
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid white;
    margin-top: 30px;
}